@layer reset, layout, components;

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  blockquote,
  ol,
  ul,
  dl,
  dd {
    margin: 0 0 1.5rem;
  }

  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  body {
    min-height: 100vh;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: #36bf7f;
  }

  a:not([class]):hover,
  a:not([class]):focus-visible {
    color: #d96666;
  }

  img,
  picture,
  svg {
    max-width: 100%;
    display: block;
  }

  svg {
    fill: currentColor;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }

  button {
    cursor: pointer;
  }

  textarea:not([rows]) {
    min-height: 10rem;
  }

  :target {
    scroll-margin-block: 3rem;
  }

  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  ::before,
  ::after {
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer layout {
  :root {
    --color-black: #1A1A1A;
    --color-white: #F0F0F0;
    --color-grey: #555555;
    --color-pale-violet: #BE8CFF;
    --color-lavender: #C7A2FF;
    --color-gold: gold;
    --font-family-primary: 'Cinzel', sans-serif;
  }

  .page-body {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family-primary); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 4rem; 
  }

  .page-header {
    background-color: var(--color-gold);
    color: var(--color-black);
    padding: 1rem;
    text-align: center;
  }
  .page-header__title {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--color-black);
    font-weight: 700;
  }

  .page-main {
    flex-grow: 1;
    padding: 1.5rem;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
    background-color: var(--color-grey);
    color: var(--color-white);
    padding: 1rem;
    text-align: center;
    width: 100%;
    z-index: 1000;
  }
}

@layer components {
  
  .sort-nav {
    background-color: var(--color-grey);
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid var(--color-gold);
    margin-top: -10px;
  }

  .sort-form {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 90%;
  }

  .sort-form__label {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 400;
  }

  .sort-form__select, .sort-form__button {
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-lavender);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--color-black);
    color: var(--color-white);
    font-weight: 700;
  }

  .sort-form__button {
    cursor: pointer;
    background-color: var(--color-gold);
    color: var(--color-black);
    text-transform: uppercase;
  }
  .sort-form__button:hover {
    background-color: var(--color-lavender);
    color: var(--color-black);
  }

  .page-main__instruction-text {
    text-align:center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: var(--color-lavender);
  }

  .movie-card {
    border: 3px solid var(--color-pale-violet);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    cursor: pointer;
    background-color: var(--color-black);
  }

  .movie-card__header {
    background-color: var(--color-gold);
    color: var(--color-black);
    padding: 0.7rem;
    text-align: center;
    cursor: pointer;
  }

  .movie-card__title {
    font-size: 1.1rem;
    color: var(--color-black);
    margin: 0;
  }

  .movie-card__image {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid var(--color-lavender);
  }

  .movie-card__fields {
    padding: 1rem;
  }

  .movie-card__detail {
    font-family: var(--font-family-primary);
    margin-bottom: 0.3rem;
    font-size: 0.95rem;
  }

  .movie-card__detail strong {
    color: gold;
  }
}